<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        xintegrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <!-- The video element is at the bottom of the stack -->
    <video autoplay muted loop id="myVideo">
        <source src="/videos/campBg.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <!-- The overlay is a transparent layer on top of the video -->
    <div class="video-overlay"></div>

    <!-- The main content container is on top of everything, making links clickable -->
    <div class="main-content d-flex w-100 h-100 p-3 mx-auto text-white flex-column">
        <header class="mb-auto">
    <nav class="navbar navbar-expand-md navbar-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">YelpCamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
</header>

        <main class="px-3 body-content">
            <h1>YelpCamp</h1>
            <p class="lead"> Welcome to YelpCamp! <br> Jump right in and explore our many campgrounds. <br>
                Feel free to share some of your own and comment on others!</p>
            <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                Campgrounds</a>
        </main>
        <footer class="mt-auto text-white-50">
            <p>&copy; 2025 </p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        xintegrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        xintegrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>
